<!-- <p>student-dashboard works!</p> -->
<div class="student-dashboard-container">
    
    <!-- <h2>Welcome, {{ username }}!</h2>  -->
    <h2>Available Quizzes</h2>
    <button (click)="goToHome()" class="green-button">Logout</button>
        <div class="quiz-list-container">
        <div *ngFor="let quiz of quizzes" class="quiz-card">
            <h3>{{ quiz.title }}</h3>
            <p>{{ quiz.description }}</p>
            <button [routerLink]="['/questions', quiz.title]">Start Quiz</button>
        </div>
    </div>
</div>
