<div class="home-container">
  <p class="description">Select your role to access personalized content and resources.</p>
  <div class="button-container">
    <button class="teacher-btn" routerLink="/teacher">
      <i class="fas fa-chalkboard-teacher"></i> Teacher
    </button>
    <button class="student-btn" routerLink="/student">
      <i class="fas fa-user-graduate"></i> Student
    </button>
    <button class="student-btn" routerLink="/about-quiz">
      <i class="fas fa-info-circle"></i> About Quiz
    </button>
  </div>
</div>
